/Temp
/ProjectSettings
/Logs
/Packages
/Library
/obj
/UserSettings
/Assets/Sprites
/Assets/Scenes
/Assets/Audio
/Assets/Tiles
/Assets/Animations
/Assets/Fonts
/Assets/TextMesh Pro
/Assets/SFX
/Assets/Prefabs
/Assets/Input System
/Assets/Materials
/Assets/Waves & Paths
/Assets/Animator
.fake
/.vscode
/Assembly-CSharp