/Temp
/ProjectSettings
/Logs
/Packages
/Library
/obj
/UserSettings
/Assets/Sprites
/Assets/Scenes
/Assets/Audio
/Assets/Tiles
/Assets/Animations
/Assets/Fonts
/Assets/TextMesh Pro
/Assets/SFX
/Assets/Prefabs
/Assets/InputSystem
/Assets/Materials
/Assets/Waves & Paths
/Assets/Animator
/Assets/Terrain
/Assets/Blender
/Assets/Timeline
/Assets/TerrainSampleAssets
/Assets/HDRPDefaultResources
.fake
/.vscode
/Assembly-CSharp