/Temp
/ProjectSettings
/Logs
/Packages
/Library
/obj
/UserSettings
/Assets/Sprites
/Assets/Scenes
/Assets/Audio
/Assets/Tiles
/Assets/Animations
/Assets/Prefabs
/Assets/Input System
.fake
/.vscode
/Assembly-CSharp